body{
    font-family: 'Open Sans', sans-serif !important;
}
.site-header{
    left: 0px;
    right: 0px;
    background: #FFFFFF;
}
.site-footer{
    position: absolute;
    background:#fff;
    height:unset !important;    
    left: 0px;
    right: 0px;
    background: #FFFFFF;
    padding-bottom:50px;
    padding-top:30px;
}
.serachEvent{
    /*border: 1px solid #bababa;*/
    border: 2px solid #ECECEC;
    /*color: #2c2c2c;*/
    font-size: 16px;
    height: 40px;
    /*width: 100%;*/
    width: 85%;
    border-radius: 25px;
    background: white;
    padding-left: 20px;
    padding-right: 32px;
    font-family: inherit;
}
.signInButton{
    height: 45px;
    border: none;
    background: #FD6568;
    color: #FFF;
    font-size: 17px;
    padding: 8px 38px;
    font-weight: 600;
    border-radius: 25px;
    font-family: inherit;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.signUpButton{
    height: 45px;
    border: none;
    background: #FD6568;
    color: #FFF;
    font-size: 17px;
    padding: 8px 38px;
    font-weight: 600;
    border-radius: 25px;
    font-family: inherit;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -3px;
}
.bannerImageOverlay{
    position: absolute !important;
    width: 590px !important;
    height: 266px;
    /*left: 12px;*/
    top: 40px;
    background: #FFFFFF;
    opacity: 0.9;
    border-radius: 0px 6px 6px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bannerText{
    /*text-align: center;*/
    /*margin-top: 14%;
    margin-left: 10%;*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    flex-direction: column;
}
.bannerText2{
    margin-top: 14%;
    margin-left: 10%;
}

.createEventButton{
    height: 45px;
    border: none;
    background: #FD6568;
    color: #FFF;
    font-size: 17px;
    padding: 8px 38px;
    font-weight: 600;
    border-radius: 25px;
    font-family: inherit;
}
.banner2{
    background-color: #FED8C6;
    width: 460px !important;
    top: 35px !important;
    display: initial !important;
    left: 0px !important;
}
.featuredContent{
    display: flex;
    margin: 0 auto;
}
.nav .nav-item .nav-link{
    color: black;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 400;
}
.mainTab .nav-item .nav-link.active{
    border-bottom: 3px solid #EB5757;
    color: black;
    border-color: #EB5757 #EB5757 #fff;
    border-bottom: 4px solid #EB5757;
}
.searchIcon{
    position: absolute;
    height: 40px;
    /*right:0;*/
    right:81px;
    top: 0px;
    background: #FED8C6;
    border-radius: 22.5px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.searchIcon i{
    /* position: absolute; */
    /* height: 45px; */
    /* left: 15px; */
    /* top: 15px; */
    color: black;
    /* right: 579px !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 12px 0px;
    font-weight: bold;
    /* font-size: 17px; */
}
.profileImg{
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
}
.communityHeader{
    margin-top: 10%;
    margin-left: 20%;
}
.communityText{
    margin-left: 20%;
    color: black;
    margin-right: 20%;
    font-weight: 500;
}
.site-footer a, .site-footer a:hover{
    color: black;
}
.freeTextSpanClass{
    background-color: white;
    position: absolute;
    width: 80px;
    padding: 10px 23px;
    color: #9C9C9C;
    border-radius: 4px;
    left: 5%;
    opacity: 0.9;
    font-weight: bold;
    font-size: 12px;
}
.likeButtonSpan{
    position: absolute;
    height: 35px;
    width: 35px;
    top: 10px;
    background: #FFFFFF;
    opacity: 0.9;
    right: 5px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.likeButtonSpan i{
            /*margin-left: 9px;
            margin-top: 9px;*/
            /*color:red;*/
            color:#9C9C9C;
}
.locationDropDown{
            border-radius: 25px;
            background-color: white;
            width: 150px;
            float: right;
}
.signUpButton , .signInButton{
            padding: 8px 20px;
}
.mainTab{
    /*border-bottom: unset !important;*/
}
.mainHomePageContainer{
    padding-top: 30px !important;
}
.dot{
    background: #FD6568;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    display: inline-block;
}
.dot1{
    background: #FED8C6;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    display: inline-block;
}
.carousel-indicators {
    justify-content: flex-end !important;
    margin-right: 3% !important;
    bottom: 0px !important;
}
.carousel-indicators li{
    width: 15px !important;
    height: 15px !important;
    margin-right: 8px !important;
    margin-left: 5px !important;
    border-radius: 50%;
}
.carousel-indicators .active{
    background-color: #FED8C6 !important;
}
.featuredContent{
    display:flex;
    justify-content:center;
}
.Pmobmargin{
    margin-top:20px;
    margin-bottom:10px;
    margin-left:40px;
}
.footer-menu-first-column{
    display:flex;
    flex-direction:column;
}
.footer-menu-second-column{
    display:flex;
    flex-direction:column;
}
.footer-menu-third-column{
    display:flex;
    flex-direction:column;
}
.newloginform{
    background: #FFFFFF;
    border: 2px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 6px;
}
.ForRemember{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    text-transform: capitalize;
    align-items: center;
    color:#9c9c9c;
}
[class*="icheck-material"] > input:first-child + label::before, [class*="icheck-material"] > input:first-child + input[type="hidden"] + label::before{
border: 2px solid #ECECEC !important;
box-sizing: border-box !important;
border-radius: 6px !important;
}
.sign-in-button{
    display:flex;
    align-items:center;
    align-content:center;
    padding:unset !important;
}
.sign-in-button .col-md-6{
    padding:unset !important;
} 
.SignUpLink{
    display: flex;
    align-items:center;
    justify-content:center;
}
.New-Login{
    background: #FD6568 !important;
    font-family: Open Sans !important;
    font-style: normal  !important;
    font-weight: bold  !important;
    font-size: 14px  !important;
    line-height: 19px  !important;
    display: flex  !important;
    border-color:unset !important;
    text-transform:capitalize !important;
    justify-content: center  !important;
    align-items: center  !important;
    padding: 12px 50px  !important;
    text-align: center  !important;
    width: auto  !important;
    color: #FFFFFF  !important;
    border-radius: 25px  !important;    
 }
 .SignUpSocial{
    display:flex;
    align-items:center;
    justify-content:flex-end;
}
 .LetsStart-Section, .LetsStartOrgReg-Section{
    display:flex;
    align-items:center;
    align-content:center;
}
.icon-magnifier:before{
    font-size: 18px;
}
.eventDateTimeBox{
    width: 45%;
    padding: 5px 10px;
    background-color: white;
    height: 30px;
    border-radius: 6px;
}
.eventCategoryTag{
    width: 90%;
    padding: 5px 10px;
    background-color: white;
    margin: 0 auto;
    border-radius: 6px;
}
.eventDetailCardBody{
    padding: 25px 0px !important;
    border-radius: 6px;
}
.ticketBoxes{
    background-color: #C4C4C4;
    height: 316px;
}
.videoUserprofileImg{
    width: 80px !important;
    height: 80px !important;
    border-radius: 50% !important;
    /*margin-top: -15%;*/
    margin-top: -50%;
}
.tabSpan{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0px;
}

.chevronClass[aria-expanded=true] .fa-chevron-down {
   display: none;
}
.chevronClass[aria-expanded=false] .fa-chevron-up {
   display: none;
}
    
#heart.red{
    /*color:red;*/
}
.pagination-outline-primary .page-item .page-link {
    color: black !important;
    border: 1px solid #FED8C6 !important;
}

.pagination-outline-primary .page-item .page-link:hover {
    color: black !important;
    background-color: #FED8C6 !important;
    border-color: #FED8C6 !important;
}

.pagination-outline-primary .page-item.active .page-link {
    color: black !important;
    background-color: #FED8C6 !important;
    border-color: #FED8C6 !important;
}

.pagination-outline-primary .page-item .page-link:focus {
    box-shadow: 0 0 0 0.2rem #FED8C6 !important;
}

.categoriesNav .nav-item .nav-link.active {
    border-color: #EB5757 #EB5757 #fff;
    border-bottom: 3px solid #EB5757;
}
.aboutUsBannerTxt{
    color: white;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
}
.aboutUsCardCss{
    /*background: #FED8C6;*/
    background: #FFFFFF;
    border-radius: 6px;
    /*padding-left: 18%;
    padding-right: 18%;*/
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
}
.aboutPara{
    font-size: 19px;
    line-height: 30px;
    color: #1E1E1E;
    /*font-weight: bold;*/
}
.orgInfoButton, .userInfoButton{
    padding: 8px 40px !important;
    color:black !important;
    background: white !important;
    border: 2px solid #ECECEC !important;
    border-radius: 35px !important;
    height: 70px !important;
    width: 250px !important;
}

.infoBtn{
    background: #FFFFFF !important;
    border: 2px solid #FED8C6 !important;
    box-sizing: border-box;
    border-radius: 6px !important;
    color: black !important;
    height: 70px !important;
    padding: 8px 30px !important;
    align-items: center;
    text-align: center;
    width: 250px;
}
.infoContent{
    padding-left: 80px !important;
    padding-right: 270px !important;
}
.morecmtbtn{
    height: 45px;
    background: #FFFFFF;
    border: 2px solid #FED8C6;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: bold;
    padding: 0px 15px;
}
.plansCard{
    border: 1px solid #BBBBBB !important;
    border-radius: 6px !important;
    padding: 20px 10px;
    background: #F8F8F8 !important;
}
.mxwidth-30{
    max-width: 30% !important;
}
.plansOuterImg{
    left: 60%;
    margin-left: -25vw;
    margin-right: -25vw;
    position: relative;
}
.yearlyDiv, .monthlyDiv{
    cursor: pointer;
}
.upgradeSuccessCard{
    padding: 15px 30px !important;
    background: #FFFFFF;
    border: 2px solid #FED8C6 !important;
    box-sizing: border-box;
    box-shadow: 0px 0px 7px #D0987D, 5px 5px 30px rgba(193, 138, 111, 0.25) !important;
    border-radius: 6px !important;
}
 
@media(min-width:768px) and (max-width:1024px){
    .SignUpLink p a{
        font-size:10px !important;
    }
}
@media(max-width:40em) {
    .HiddenImageOnclick img{
        max-width:100% !important;
        width:100% !important;
    }
    .MobWidth{
        min-width:100%;
    }
    .featuredContent .card a img{
        height:unset !important;
    }
    /*ul.mainTab{*/
    /*    display:block !important;*/
    /*    columns:2;*/
    /*}*/
    ul.mainTab{
        display:flex !important;
        align-items:flex-start;
        /*flex-direction:column;*/
    }
    .MobFrame{
        width:100% !important;
        height:unset !important;
    }
    ul.mainTab .nav-item.ml-4{
        margin:unset !important;
    }
    .serachEvent{
        margin-bottom:10px;
    }
    .mob-pd-common{
        padding:10px 0px !important;
    }
    .footer-menu-third-column{
        padding:10px 0px;
    }
    .footer-social{
        display:flex !important;
        margin:15px 0px;
    }
    .Pmobmargin{
        margin-left:1.3rem !important;
        margin-top:unset !important;
        
    }
    .bannerText2 .col-md-9 h4{
      font-size:18px !important;
    }
    .MobDisplay{
        display:contents !important;
    }
    /*.site-header, .site-footer{*/
    /*    height: 190px;*/
    /*}*/
    .MobileMt{
        margin-top:15px !important;
    }
    .mainHomePageContainer{
        padding-top: 210px;
    }
    .searchIcon{
        /*right:12px;*/
        /*right: 40px;*/
        right: 10%;
    }
    .bannerImage{
        height: 250px !important;
    }
    .bannerImageOverlay{
        width: 250px !important;
    }
    .banner2{
        width: 285px !important;
    }
    .bannerText{
        top:15% !important;
    }
    .buttonMobileSize{
        height: 35px;
        font-size: 15px;
        position: absolute;
        top: 60%;
        padding: 7px 10px;
    }
    .fontSizeCss{
        font-size: 15px;
        line-height: 20px;
        margin-bottom:60px;
    }
    .logodiv, .searchbardiv, .signupindiv{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        align-content: center !important;
    }
    .marginzeromobile{
        margin-left: 0px !important;
    }
    .eventDateTimeBox{
        height: 30px;
        width: 50%;
    }
    .eventCategoryTag{
        width: 50%;
        margin: unset !important;
    }
    .ticketBoxes{
        margin-bottom: 10px;
    }
    .mobileSeeMoreBtn{
        padding-right: 25% !important;
    }
    .mobRowDisplay{
        display: inline-block;
        width: 15% !important;
    }
    .mobRowDisplay1{
        display: inline-block;
        width: 80% !important;
    }
    .bannerText2{
        margin-top: 5% !important;
    }
    .mobSlider{
        display: inline-block;
        width: 25% !important;
    }
    .mobSlider1{
        display: inline-block;
        width: 75% !important;
    }
    .videoIframe{
        width: 100% !important;
        height:100% !important;
    }
    .categoriesNav{
        display: inline-block !important;
        text-align: left;
        column-count: 2;
        /*padding-left: 20px;*/
        padding-left: 15px !important;
    }
    .mobileNav{
        margin-left: unset !important;
        margin-right: unset !important;
    }
    .tabSpan{
        font-size: 15px !important;
    }
    .vFrame{
        width: 100% !important;
    }
    .profileTop{
        margin-top: -30% !important;
    }
    .infoContent{
        padding-left: 20px !important;
    padding-right: 20px !important;
    display: flex !important;
    flex-wrap: wrap;
    }
    .mxwidth-30{
        max-width: none !important;
    }
}