body{
    font-family: 'Open Sans', sans-serif !important;
}
.site-header{
    left: 0px;
    right: 0px;
    background: #FFFFFF;
}
.site-footer{
    position: absolute;
    background:#fff;
    height:unset !important;    
    left: 0px;
    right: 0px;
    background: #FFFFFF;
    padding-bottom:50px;
    padding-top:30px;
}
.serachEvent{
    border: 1px solid #bababa;
    color: #2c2c2c;
    font-size: 16px;
    height: 40px;
    /*width: 100%;*/
    width: 85%;
    border-radius: 25px;
    background: transparent;
    padding-left: 20px;
    padding-right: 32px;
    font-family: inherit;
}
.signInButton{
    height: 45px;
    border: none;
    background: #FD6568;
    color: #FFF;
    font-size: 17px;
    padding: 8px 38px;
    font-weight: 600;
    border-radius: 25px;
    font-family: inherit;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.signUpButton{
    height: 45px;
    border: none;
    background: #FD6568;
    color: #FFF;
    font-size: 17px;
    padding: 8px 38px;
    font-weight: 600;
    border-radius: 25px;
    font-family: inherit;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -3px;
}
.bannerImageOverlay{
    position: absolute !important;
    width: 590px !important;
    height: 266px;
    /*left: 12px;*/
    top: 40px;
    background: #FFFFFF;
    opacity: 0.9;
    border-radius: 0px 6px 6px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bannerText{
    /*text-align: center;*/
    /*margin-top: 14%;
    margin-left: 10%;*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    flex-direction: column;
}
.bannerText2{
    margin-top: 14%;
    margin-left: 10%;
}

.createEventButton{
    height: 45px;
    border: none;
    background: #FD6568;
    color: #FFF;
    font-size: 17px;
    padding: 8px 38px;
    font-weight: 600;
    border-radius: 25px;
    font-family: inherit;
}
.banner2{
    background-color: #FED8C6;
    width: 460px !important;
    top: 35px !important;
    display: initial !important;
    left: 0px !important;
}
.featuredContent{
    display: flex;
    margin: 0 auto;
}
.nav .nav-item .nav-link{
    color: black;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 400;
}
.mainTab .nav-item .nav-link.active{
    border-bottom: 3px solid #EB5757;
    color: black;
    border-color: #EB5757 #EB5757 #fff;
    border-bottom: 4px solid #EB5757;
}
.searchIcon{
    position: absolute;
    height: 45px;
    /*right:0;*/
    right:80px;
    top: -3px;
    background: #FED8C6;
    border-radius: 22.5px;
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.searchIcon i{
    /* position: absolute; */
    /* height: 45px; */
    /* left: 15px; */
    /* top: 15px; */
    color: black;
    /* right: 579px !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 12px 0px;
    font-weight: bold;
    /* font-size: 17px; */
}
.profileImg{
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
}
.communityHeader{
    margin-top: 10%;
    margin-left: 20%;
}
.communityText{
    margin-left: 20%;
    color: black;
    margin-right: 20%;
    font-weight: 500;
}
.site-footer a{
    color: black;
}
.freeTextSpanClass{
    background-color: white;
    position: absolute;
    width: 80px;
    padding: 10px 23px;
    color: black;
    border-radius: 4px;
    left: 5%;
    opacity: 0.9;
}
.likeButtonSpan{
    position: absolute;
    height: 35px;
    width: 35px;
    top: 10px;
    background: #FFFFFF;
    opacity: 0.9;
    right: 5px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.likeButtonSpan i{
            /*margin-left: 9px;
            margin-top: 9px;*/
            color:red;
}
.locationDropDown{
            border-radius: 25px;
            background-color: white;
            width: 150px;
            float: right;
}
.signUpButton , .signInButton{
            padding: 8px 20px;
}
.mainTab{
    border-bottom: unset !important;
}
.mainHomePageContainer{
    padding-top: 30px !important;
}
.dot{
    background: #FD6568;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    display: inline-block;
}
.dot1{
    background: #FED8C6;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    display: inline-block;
}
.carousel-indicators {
    justify-content: flex-end !important;
    margin-right: 3% !important;
    bottom: 0px !important;
}
.carousel-indicators li{
    width: 15px !important;
    height: 15px !important;
    margin-right: 8px !important;
    margin-left: 5px !important;
    border-radius: 50%;
}
.carousel-indicators .active{
    background-color: #FED8C6 !important;
}
.featuredContent{
    display:flex;
    justify-content:center;
}
.Pmobmargin{
    margin-top:20px;
    margin-bottom:10px;
    margin-left:40px;
}
.footer-menu-first-column{
    display:flex;
    flex-direction:column;
}
.footer-menu-second-column{
    display:flex;
    flex-direction:column;
}
.newloginform{
    background: #FFFFFF;
    border: 2px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 6px;
}
.ForRemember{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    text-transform: capitalize;
    align-items: center;
    color:#9c9c9c;
}
[class*="icheck-material"] > input:first-child + label::before, [class*="icheck-material"] > input:first-child + input[type="hidden"] + label::before{
border: 2px solid #ECECEC !important;
box-sizing: border-box !important;
border-radius: 6px !important;
}
.sign-in-button{
    display:flex;
    align-items:center;
    align-content:center;
    padding:unset !important;
}
.sign-in-button .col-md-6{
    padding:unset !important;
} 
.SignUpLink{
    display: flex;
    align-items:center;
    justify-content:center;
}
.New-Login{
    background: #FD6568 !important;
    font-family: Open Sans !important;
    font-style: normal  !important;
    font-weight: bold  !important;
    font-size: 14px  !important;
    line-height: 19px  !important;
    display: flex  !important;
    border-color:unset !important;
    text-transform:capitalize !important;
    justify-content: center  !important;
    align-items: center  !important;
    padding: 12px 50px  !important;
    text-align: center  !important;
    width: auto  !important;
    color: #FFFFFF  !important;
    border-radius: 25px  !important;    
 }
 .SignUpSocial{
    display:flex;
    align-items:center;
    justify-content:flex-end;
}
 .LetsStart-Section, .LetsStartOrgReg-Section{
    display:flex;
    align-items:center;
    align-content:center;
}
.icon-magnifier:before{
    font-size: 18px;
}
 
@media(min-width:768px) and (max-width:1024px){
    .SignUpLink p a{
        font-size:10px !important;
    }
}
@media(max-width:40em) {
    .HiddenImageOnclick img{
        max-width:100% !important;
        width:100% !important;
    }
    .MobWidth{
        min-width:100%;
    }
    .featuredContent .card a img{
        height:unset !important;
    }
    /*ul.mainTab{*/
    /*    display:block !important;*/
    /*    columns:2;*/
    /*}*/
    ul.mainTab{
        display:flex !important;
        align-items:flex-start;
        flex-direction:column;
    }
    .MobFrame{
        width:100% !important;
        height:unset !important;
    }
    ul.mainTab .nav-item.ml-4{
        margin:unset !important;
    }
    .serachEvent{
        margin-bottom:10px;
    }
    .mob-pd-common{
        padding:10px 0px !important;
    }
    .footer-menu-third-column{
        padding:10px 0px;
    }
    .footer-social{
        display:flex !important;
        margin:15px 0px;
    }
    .Pmobmargin{
        margin-left:1.3rem !important;
        margin-top:unset !important;
        
    }
    .bannerText2 .col-md-9 h4{
      font-size:18px !important;
    }
    .MobDisplay{
        display:contents !important;
    }
    /*.site-header, .site-footer{*/
    /*    height: 190px;*/
    /*}*/
    .MobileMt{
        margin-top:15px !important;
    }
    .mainHomePageContainer{
        padding-top: 210px;
    }
    .searchIcon{
        /*right:12px;*/
        /*right: 40px;*/
        right: 10%;
    }
    .bannerImage{
        height: 250px !important;
    }
    .bannerImageOverlay{
        /*height: 170px!important;*/
        width: 250px !important;
    }
    .bannerText{
        top:15% !important;
    }
    .buttonMobileSize{
        height: 35px;
        font-size: 15px;
        position: absolute;
        top: 60%;
        padding: 7px 10px;
    }
    .fontSizeCss{
        font-size: 15px;
        line-height: 20px;
        margin-bottom:60px;
    }
    .logodiv, .searchbardiv, .signupindiv{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        align-content: center !important;
    }
    .marginzeromobile{
        margin-left: 0px !important;
    }
}