.imageRadius{
	border-radius: 8px;
	max-height: 90px;
}
.customButtons .simpleButton{
	display: none;
}
.xdsoft_datetimepicker .xdsoft_datepicker.active+.xdsoft_timepicker{
	margin-top: 30px !important;
}
.addNewEventButton button{
	background: #80808021 !important;
}
.addNewEventButton button a{
	color:black !important;
}