.imageRadius{
    border-radius: 8px;
    max-height: 180px;
    min-height: 180px;
}
.customButtons .simpleButton{
    display: none;
}
.xdsoft_datetimepicker .xdsoft_datepicker.active+.xdsoft_timepicker{
    margin-top: 30px !important;
}
.addNewEventButton button{
    /*background: #80808021 !important;*/
}
.addNewEventButton button a{
    /*color:black !important;*/
    color:white !important;
}
.createEventContainer{
    padding-right: 25px !important;
    padding-left: 25px !important;
}
.dragFileForm{
    position: relative;
    /* min-height: 600px; */
    min-height: auto;
}
.dragFileContainer{
    border: 4px dashed darkgray;
    /*position: absolute;*/
    width: 100%;
}
.thumbNailContainer{
    width: 40%;
}
.thumbNailContainer p{
    text-align: center !important;
    height: 170px !important;
    align-items: center !important;
    cursor: pointer !important;
    line-height: unset!important;
    display: flex;
}
.dragFileContainer p{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 170px;  
}
.dragFileContainer input{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}
.dragFileContainer #EventBannerImage{
    width: 94%;
    height: 75%;
}
.dragFileContainer #EventThumbnailImage{
    width: 38%;
    height: 70%
}
#thumbnailImage{
    width: 100%;
}
#pageloader-overlay.visible {
    opacity: 0.5 !important;
}
.secondary{
    padding: 4px !important;
}
/* .dragFileForm .btn.btn-primary{
    position: absolute;right: 0;bottom: 0;
} */
/*.dragFileContainer button:hover{
  background: #149174;
        color: #0C5645;
}
.dragFileContainer button:active{
  border:0;
}*/
.max-w-table-100{
    max-width: 100px!important;
    white-space: normal!important;
}
table .max-w-table-100 .btn{margin: 10px auto;min-width: 60px;}
.greenFont{color:green;}
.max-w-table-200{
    max-width: 200px!important;
    white-space: normal!important;
}
.UserIconWithText{
    display: flex !important;
    align-items: flex-end !important;
}
.AvailableStorage{
    font-size: 15px;
    color: #505050c7;
}

.progress_upload { position:relative; width:100%; border: 1px solid #7F98B2; padding: 1px; border-radius: 3px; }
.bar_upload { background-color: #B4F5B4; width:0%; height:25px; border-radius: 3px; }
.percent_upload { position:absolute; display:inline-block; top:3px; left:48%; color: #7F98B2;}

#EventProfilePicImage{
    width: 38%;
    height: 84%;
}
.eventLinkedBg{
    background-color:#f3f3d1;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li{
    display: flex;
    flex-direction: row-reverse;
    /*padding-top: 4px;
    padding-bottom: 2px;*/
    /*padding: 4px 4px 2px 6px;*/
    background: #008000c4;
    color: white;
}
.select2-selection__choice__remove{
    /*padding-left: 8px;
    padding-right: 2px;*/
    color: white !important;
    /*background: green;*/
    padding-top: 0px !important;
    /*padding-right: .5rem!important;*/
    /*padding-left: 0.25rem !important;
    margin-left: .25rem!important;*/
    padding-left: .30rem !important;
    margin-left: .30rem!important;
    margin-right: 0!important;
    border-left: 1px solid;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    /*height: auto;*/
}
.select2-container--default .select2-selection--multiple{
    /*height: auto !important;*/
}

.select2-container .select2-search--inline{
    display: none !important;
}

.select2-selection__clear{
    display:none !important;
}
.CsvUploadInfo{
    float: right;
    font-size: .65rem;
    color: green;
    padding-top: 12px;
}

#profileImg{
    width: 38%;
    height: 70%;
}

.fa-check-square{
    color: green;
}
.InnerHeader{
    font-weight: bold;
    font-size: 13px;
    margin-top: 8px;
    margin-bottom: 12px;
}