.imageRadius{
	border-radius: 8px;
  max-height: 180px;
  min-height: 180px;
}
.customButtons .simpleButton{
	display: none;
}
.xdsoft_datetimepicker .xdsoft_datepicker.active+.xdsoft_timepicker{
	margin-top: 30px !important;
}
.addNewEventButton button{
	/*background: #80808021 !important;*/
}
.addNewEventButton button a{
	/*color:black !important;*/
  color:white !important;
}
.createEventContainer{
	padding-right: 25px !important;
    padding-left: 25px !important;
}
.dragFileForm{
    position: relative;
    /* min-height: 600px; */
    min-height: auto;
}
.dragFileContainer{
  border: 4px dashed darkgray;
  /*position: absolute;*/
  width: 100%;
}
.thumbNailContainer{
  width: 40%;
}
.thumbNailContainer p{
  text-align: center !important;
  height: 170px !important;
  align-items: center !important;
  cursor: pointer !important;
  line-height: unset!important;
    display: flex;
}
.dragFileContainer p{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;  
}
.dragFileContainer input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30%;
  outline: none;
  opacity: 0;
}
.dragFileContainer #EventBannerImage{
  width: 94%;
  height: 75%;
}
.dragFileContainer #EventThumbnailImage{
  width: 38%;
  height: 70%
}
#thumbnailImage{
  width: 100%;
}
#pageloader-overlay.visible {
  opacity: 0.5 !important;
}
.secondary{
  padding: 4px !important;
}
/* .dragFileForm .btn.btn-primary{
    position: absolute;right: 0;bottom: 0;
} */
/*.dragFileContainer button:hover{
  background: #149174;
	color: #0C5645;
}
.dragFileContainer button:active{
  border:0;
}*/
.max-w-table-100{
    max-width: 100px!important;
    white-space: normal!important;
}
table .max-w-table-100 .btn{margin: 10px auto;min-width: 60px;}
.greenFont{color:green;}